:root {
    --c-white: #fffdfa;
    --c-blue: #00001a;
    --c-gray: #5e607a;
    --c-red: #f15d51;
    --c-silver: #c5c6ce;
    --c-yellow: #e9aa52;
    --f-xl: clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem); //40px to 56px
    --f-l: clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem); //32px to 40px
    --f-m: 32px;
    --f-s: 20px;
    --f-xs: 18px;
    --f-body: 15px
}