:root {
    --c-white: #fffdfa;
    --c-blue: #00001a;
    --c-gray: #5e607a;
    --c-red: #f15d51;
    --c-silver: #c5c6ce;
    --c-yellow: #e9aa52;
    --f-xl: clamp(2.5rem, 2.147887323943662rem + 1.5023474178403755vw, 3.5rem);//40 to 56
    --f-l: clamp(2rem, 1.823943661971831rem + 0.7511737089201878vw, 2.5rem);// 32 to 40
    --f-m: 2rem; //32px
    --f-s: 1.25rem; //20px
    --f-xs: 1.125rem; //18px
    --f-body: 0.938rem; //15px
}

// Boilerplate stayless

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    font-size: var(--f-body);
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

// Sets the minimum width to 1110px or (100vw - 32px), whatever is smaller
.wrapper {
    width: min(1110px, calc(100% - 2rem));
    margin-inline: auto; //Sets onli the left & right margin (margin-block sets only the top & bottom)
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

//End of boyllerplate styles

