.header {

    &__logo {
        width: 2.813rem;

        @media (width >= 1110px) {
            width: 4rem;

        }
    }

    &__link {
        color: var(--c-blue);
        font-size: var(--f-xs);
        line-height: 1.3;

        @media (width >= 1110px) {
            color: var(--c-gray);
        }

    }
}